.Main-task {
    .content-task-tab {
        height: 48px;
        background: rgba(9, 9, 26, 1);
        border-bottom: 1px solid #3d444f;
    }

}

.content-header-task {}

.content-container {
    margin: 30px 10px;
}

.table-content {
    margin: 30px 10px;
}

.reset_btn {
    font-size: 12px;
    line-height: 16.34px;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}
