@import "../../../Common.scss";
.group-form-search {
    display: flex;
    width: 100%;
    column-gap: 10px;
    row-gap: 15px;
    z-index: 2;

    &.form-no-wrap {
        flex-wrap: nowrap !important;
    }

    &.form-wrap {
        flex-wrap: wrap;
    }

    &:last-child {
        margin-bottom: 0px;
    }

    .form-item {
        display: flex;
        flex-direction: column;
        gap: 7px;
        width: calc((100% - 40px) / 3);

        .text-label {
            margin-bottom: 10px;
        }

        .labelClassName {
            font-weight: $fontLight;
        }

        .select-input {
            padding-right: 10px;
            margin-top: 0px;
        }
    }
}

.form-action-search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
    column-gap: 10px;
}

.group-form-search-row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: nowrap !important;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    &:last-child {
        margin-bottom: 0px;
    }

    .group-input {
        // width: 70%;
        padding: 0px;
        // min-width: 726px;
    }

    .group-action {
        width: auto;
        padding: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: end;
        column-gap: 10px;

        .icon-action {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E5F1E3;
            border-radius: 3px;
            cursor: pointer;

            svg {
                color: #138300;
            }
        }
    }
}
